html{
	scroll-behavior:smooth;
}
.navbar{
	box-shadow:2px 2px 5px #000;
}

.navbar .nav-item.nav-link{
	color: #FFFFFF;
}
header{
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;

}
.main-header{
	position: relative;
	background: url(../img/background.jpg);
	background-size: cover;
	min-height: 700px;
}

.overlay{
    background: rgba(84, 89, 188, 0.6);
    min-height: 100vh;
}

.form-control, .btn{

	border-radius: 0px;
}

.team, footer{
	background:#30336b; 
}